@import url('https://fonts.googleapis.com/css?family=Righteous');
.brand-logo {
    padding-left: 12px !important;
}

h1, a {
    font-family: 'Righteous', 'Times New Roman', Times, serif;
}

.projectTitle {
    margin-top: 2%;
}

#btnAddForm{
    position: fixed;
    bottom: 5%;
    right: 5%;
}

#clickBehind {
    pointer-events: none;
}

@media only screen and (min-width: 993px) {
    .container {
        width: 85%;
    }
}
    
/* FORM INPUT */
.formShadow {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    cursor: pointer;
  }

#addForm {
    padding-top: 5%;
    padding-bottom: 5%;
    color: white;
    width: 380px;
    z-index: 3;
    background-color: rgba(0,0,0, .9);
    margin: 5% auto;
    overflow-y: auto;
    overflow-x: auto;
    height: 80vh;
}

@media only screen and (max-width: 430px){
    #addForm {
        height: 65vh;
    }
}

/* TABLE */
#borderStructure {
  border-collapse: separate;
  table-layout: fixed;  
}

td {
    border: 3px solid transparent;
}

th {
    border-radius: 0 !important;
}

.tooLong {
    word-wrap: break-word
}

@media only screen and (max-width: 768px) {
    .editLocation, #editLocation {
        white-space: nowrap; 
        overflow: hidden;
        text-overflow: ellipsis;
    }
} 

#editAmount, #lineAmount {
    text-align: right;
    padding-right: 3%;
}

.highlightCells {
    border: 3px solid green;
}

td button {
    margin: 2%;
}

/* ABOUT PAGE */
.modalShadow {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 2;
    cursor: pointer;
  }

.aboutBody {
    position: fixed;
    left: 50%;
    top: 50%;
    width: 80%;
    color: white;
    background-color: rgba(0,0,0, .9);
    transform: translate(-50%, -50%);
    padding: 2%;
    border: 3px solid green;
    box-sizing: border-box;
    overflow-y: auto;
}

@media only screen and (max-height: 600px){
    .aboutBody {
        overflow-y: auto;
    }
}

h4 {
    margin-top: 0;
}

nav p {
    line-height: 1;
}

.logoContainer {
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.logoImage {
    width: 70px;
    margin: 0 25px;
}

.logoContainer a {
    color: white;
}

@media only screen and (max-width: 576px) { 
    .logoImage {
        margin: 0 auto;
        width: 50px;
    }
}

/* SPLASH MODAL */
.splashShadow {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    /* background: rgba(0, 0, 0, 0.9); */
    z-index: 2;
    cursor: pointer;
  }

.splashBody {
    position: fixed;
    left: 50%;
    top: 50%;
    width: 80%;
    color: white;
    background-color: rgba(0,0,0, .9);
    transform: translate(-50%, -50%);
    padding: 5%;
    border: 3px solid green;
    box-sizing: border-box;
    cursor: pointer;
}

  .splashInstructions {
      font-size: 1.5rem !important;
      margin-top: 0;
      margin-bottom: 0;
  }

@media only screen and (max-width: 576px) { 
    .splashInstructions h2 {
        font-size: 1rem !important;
    }
    .splashInstructions {
        font-size: 1rem !important;
    }
}

@media only screen and (max-height: 600px) { 
    .splashInstructions {
        font-size: 1rem !important;
    }
}

#splashText {
    padding: 5%;
}

.display-block {
    display: block;
}

.display-none {
    display: none;
}

/* DELETE MODAL */
.deleteShadow {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
}

.deleteModal {
    background-color: #00e676;
    color: black;
    text-align: center;
    height: 20%;
    min-height: 115px;
    position: fixed;
    top: 35%;
    right: 35%;
    width: 20%;
    min-width: 140px;
    margin: 1%;
    z-index: 3;
    padding: 1%;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
    border: 1px solid #2E7D32;
}

.deleteModal button {
    background-color: white;
    margin: 3%;
    width: 54px;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
    cursor: pointer;
}

.moreShadow {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    cursor: pointer;
  }

.moreBody {
    position: fixed;
    left: 50%;
    top: 50%;
    width: 80%;
    color: white;
    background-color: rgba(0,0,0, .9);
    transform: translate(-50%, -50%);
    padding: 2%;
    border: 3px solid green;
    box-sizing: border-box;
    overflow-y: auto;
}