@import url('https://fonts.googleapis.com/css?family=Righteous');
.brand-logo {
    padding-left: 12px !important;
}

h1, a {
    font-family: 'Righteous', 'Times New Roman', Times, serif;
}
#btnAddForm{
    position: fixed;
    bottom: 5%;
    right: 5%;
}

#clickBehind {
    pointer-events: none;
}

@media only screen and (min-width: 993px) {
    .container {
        width: 85%;
    }
}
    
/* FORM INPUT */
form {
    color: white;
    position: fixed;
    left: 0;
    top: 0;
    width: 75vw;
    height: 85vh;
    z-index: 2;
    background-color: rgba(0,0,0, .9);
    /* margin-left: 5vw; */
}

#addForm {
    margin-left: 10vw;
    margin-top: 5%;
    padding-top: 5%;
}

#borderStructure {
  border-collapse: separate;
  table-layout: fixed;  
}

td {
    border: 3px solid transparent;
}

th {
    border-radius: 0 !important;
}

#editAmount, #lineAmount {
    text-align: right;
    padding-right: 3%;
}

.highlightCells {
    border: 3px solid green;
}

/* ABOUT PAGE */
.logoContainer {
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.logoImage {
    max-height: 15vh;
    margin: 25px;
}

.logoContainer a {
    color: black
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 576px) { 
    .logoContainer{
        flex-direction: column;
        margin: 0 auto;
        align-items: center;
    }
    .logoImage {
        margin: 0 auto;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
    th, td {
        white-space: nowrap; 
        overflow: hidden;
        text-overflow: ellipsis;
    }
} 
