@import url('https://fonts.googleapis.com/css?family=Righteous');

h1, a {
    font-family: 'Righteous', 'Times New Roman', Times, serif;
}
#btnAddForm{
    position: fixed;
    bottom: 5%;
    right: 5%;
}

#clickBehind {
    pointer-events: none;
}

.logoImage {
    max-width: 15%;
    max-height: 15%
}

.highlightCells {
    border: 3px solid blue;
}